.homeFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_container {
    width: 100%;
    height: 80vh; 
    position: relative;
  }
  
  .slide {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }


  .slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
 
  }

  
  .slide.active {
    opacity: 1;
  }
  
  

  .text {
    position: absolute;
    top: 170px;
    left: 220px; 
    color: white;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
  }
 


  .heading{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text h2{
    font-size: 42px;
    width: 100%;
    margin-top: 84px;
  }


  .text p{
    width: 70%;
    text-align: center;
    margin-left: 100px;
  }

  .contact_btn{
    background-color: var(--primaryColor);
    color: var(--textWhite);
    margin-bottom: 20px;
    margin-top: 20px;
  }

  
  



  
  
  @media screen and (max-width: 1130px) {
    .text p{
      font-size: 17px;
      margin-left: -10px;
    }
   
  }
  
  @media screen and (max-width: 840px) {
    .text {
      position: absolute;
      top: 170px;
      left: 42px;
    }
    .text p{
      width: 100%;
    }
    
  }
  @media screen and (max-width: 670px) {
    .text h2{
      font-size: 22px;
    }
    .text {
      position: absolute;
      top: 89px;
      left: 30px;
  }
    
  }












  

  /* ********another without slider style******* */

/*   

  .bgGrphicContainer{
    display: flex;
    justify-content: space-around;
  }

  .bgContainer{
    background-image: url('/image/asset 41.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .bg_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .bgPara{
    font-size: 24px;
    color: var(--secondaryBlueColor);
   
  }
  .bgHeading{
    font-size: 56px;
    color: white;

  }

  .spanText{

    color: var(--primaryRedColor);
  }

  .rating {
    position: relative;
    top: -76px;
    left: 354px;
  
  
}

.ratingimg{ 
  width: 10%;
}

.ratingText{
  color: white;
}





.graphic1{
  position: relative;
  top: 34px;
  left: 533px;
  width: 80%;
}

.graphic2{
  position: relative;
  top: -134px;
  right: 533px;
  width: 80%;
}




 */

/* 
.logo1Animate {
  position: relative;
  animation: logo1Animate 10s linear infinite;
}

@keyframes logo1Animate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px); 
  }
}


.logo2Animate {
  position: relative;
  animation: logo2Animate 10s linear infinite;
}

@keyframes logo2Animate {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px); 
  }
}



.btnContainer{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact_btn{
  padding: 13px 34px;
  border: none;
  border-radius: 8px;
  background-color: var(--primaryRedColor);
  color: white;
}
.contact_btn:hover{
  background-color: var(--darkBlueColor);
  transition: .2s all ease;

}

.how_we_work_btn{
  padding: 13px 34px;
  border: none;
  border-radius: 8px;
  background-color: var(--secondaryBlueColor);
  color: white;

}

.how_we_work_btn:hover{
  background-color: var(--darkBgColor);
  transition: .2s all ease;
 
}





@media screen and (max-width: 950px) {
  .bgContainer{
    margin-top: 75px;
  }
  .bgPara{
    font-size: 24px;
   
  }
  .bgHeading{
    font-size: 36px;

  }

  
}



@media screen and (max-width: 600px) {
  .bgContainer{
    margin-top: 75px;
    height: 100vh;
  }
  .bgPara{
    font-size: 20px;
   
  }
  .bgHeading{
    font-size: 22px;
  }
  .rating {
    position: relative;
    top: -726px;
    left: 295px;
}

  
}






@media screen and (max-width: 450px) {
  .bgContainer{
    margin-top: 0px;
  }
  .bgPara{
    font-size: 18px;
   
  }
  .bgHeading{
    font-size: 22px;
  }

  .heading1 {
    font-size: 39px;
    margin-bottom: 50px;
}

.heading2 {
  font-size: 30px;
  margin-bottom: 8px;
}

  .rating {
    position: relative;
    top: -76px;
    left: 165px;
  }

  
} */