.accordian_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 34px;
}
.accordianHeading{
    margin: 0px 0px 34px 0px;
    text-align: center;
    font-size: 34px;
}
.accordian_card{
    /* box-shadow: 0 2px 6px -1px rgb(0, 0, 0, 0.3); */
    cursor: pointer;
    /* width: 334px; */
    height: 74px;

}

.accord_para{
    margin: 4px;
}


/* .arrowIcon{

    padding: 14px;
    border: 1px solid gray;
    border-radius: 50%;
    font-size:24px;
} */

.hello{
    /* box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2); */
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 9px;
    border-radius: 9px;
}


@media screen and (max-width: 1200px) {
    .accordian_content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 875px) {
    .accordian_content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 600px) {
    .accordian_content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
}