.messageFrom{
    width: 100%;
    margin-top: 34px;
    margin-bottom: 34px;
}


.dropdown_content p{
    color : #454545;

}

.drop{
    line-height: 15px;
}

.drop p:nth-child(2) { 
    margin-top: 34px;
  }

  .drop p:nth-child(2) { 
    font-size: 18px;
    font-weight: bold;
  }

  .userImg{
    height: 200px;
    width: 400px;
    object-fit: contain;
  }