
.banner{
    padding: 12px;
}


.navbar{
    margin: 12px;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navlinks li{
    list-style: none;
}
.navlinks a{
    text-decoration: none;
    font-size: 19px;
    color: black;
}







