.logo{
    width: 5%;
}
.banner{
    padding: 12px;
}


.navbar{
    margin: 12px;
}

.navlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navlinks li{
    list-style: none;
}
.navlinks a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.hambugerMenu{
    font-size: 24px;
    display: none;
}



@media screen and (max-width: 950px) {
    .navlinks{
        display: none;
    }
    .hambugerMenu {
        display: block;
    }
    
}







